<h1 style='color:blue;position:center;'>FASTEL GROUP</h1>

<h1 style='color:red;'>Here is the message itself {{app.user.username}}</h1>
<table class="table table-bordered table-condensed table-hover" style="border:solid 1px;background-color:gray;">
<tr>
<td>comment vas tu? </td>
<td>comment vas tu?</td>
</tr>
<tr>
<td>comment ?</td>
<td>comment ?</td>
</tr>
</table>
</br>
</br>
</br>
</br>
<table class="table table-bordered table-condensed table-hover" style="border:solid 1px;background-color:gray;">
<tr>
<td>comment vas tu? </td>
<td>comment vas tu?  </td>
</tr>
<tr>
<td>comment ?</td>
<td>comment ?</td>
</tr>
</table>
<hr>