{% extends '::emailbase.html.twig' %}
{% block corps %}
<h1 style='color:blue;position:center;'>FASTEL GROUP</h1>

<h1 style='color:red;'>INFORMATION IMPORTANTE</h1>
<table class="table table-bordered table-condensed table-hover" style="border-color:gray;border:solid 1px;">
<tr style="font-weight:bold;">
<td>Une information importante vient d'être publiée sur le site de FASTEL-GROUP.</td>
</tr>
<tr>
<td><ul><li style="list-style:none;text-align:center;font-weight:bold;"><a href="http://www.fastel-group.net/nouvelles" style="text-decoration:none;">CLIQUEZ ICI POUR VOIR CETTE INFORMATION</a></li></ul></td>
</tr>
</table>
<hr>
<div style="font-weight:bold;font-style:helvetica;">Nous servons nos clients avec passion</div>
{% endblock %}