{% extends '::base.html.twig' %}
{% block icones %}
<div class="span4" style="padding-left:45%;padding-top:10%">

          <img class="img-circle" src="{{ asset('bundles/kwcotonou/images/transfert1.jpg')}}"  width="120" height="120" alt="">
          <p><a class="btn btn-info" href="#">OUF FRANJIN! <br> TU NE PEUX PAS ALLER LA! &raquo;</a></p>
 </div>
{% endblock %}
{% block auth %}
{% endblock %}