<table class="form-inline">
<tr>
<td>{{ form_widget(form.val, {'attr': {'class': 'input-small'}})) }}<td>
<td>{{ form_widget(form.qte, {'attr': {'class': 'input-small'}})) }}<td>
<td>{{ form_wwidget(form.remise, {'attr': {'class': 'input-small'}})) }}<td>
</tr>
</table>