<!DOCTYPE html>
<html lang="fr">
  <head>
{% block stylesheets %}
<link href="{{ asset('bundles/fasclimain/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
  </head>
  <body>  
{% block corps %}
	    
{% endblock %}
	
   
  </body>
</html>
