<page backtop="3mm" backleft="5mm" backright="5mm" backdown="5mm" orientation="P"> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fiche incident</title>
 
</head>
 
<body>
    

{% block content %}
{% endblock %}

 </body>
 </html>
 </page>
