{#{% extends '::base.html.twig' %}#}

{% block body -%}
    <h1>dollar creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('dollar') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
