{% extends "::appLayout.html.twig"  %}
{% block brand %} <a class="brand" href="#">RECUPERATION MOT DE PASSE </a> {% endblock %}
{% block table %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock table %}
