{% extends "::appLayout.html.twig"  %}
{% block brand %} <a class="brand" href="#">RECUPERATION MOT DE PASSE </a> {% endblock %}
{% block table %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock table %}
