{% extends '::appLayout.html.twig' %}
{% block table %}
<h1 style='color:red;'>Here is the message itself {{name}}</h1>
<table class="table table-bordered table-condensed table-hover">
<tr>
<td>comment vas tu?</td>
<td>comment vas tu?</td>
</tr>
<tr>
<td>comment ?</td>
<td>comment ?</td>
</tr>
</table>
{% endblock %}
