<ul class="record_actions">
    <li>
        <a href="{{ path('choixachat') }}">
            ACHAT
        </a>
    </li>
    <li>
        <a href="{{ path('choixvente') }}">
            VENTE
        </a>
    </li>
    
</ul>