<ul class="record_actions">
    <li>
        <a href="{{ path('euronew',{"devise":devise,type": 'ACHAT'}) }}">
            ACHAT
        </a>
    </li>
    <li>
        <a href="{{ path('choixvente',{"devise":devise,"type": 'VENTE'}) }}">
            VENTE
        </a>
    </li>
    
</ul>